<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"></setting>
        <setting name="defaultExecutorType" value="REUSE"></setting>
    </settings>
	
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.DateTypeHandler" javaType="java.sql.Timestamp"></typeHandler>    
		<typeHandler handler="org.apache.ibatis.type.DateTypeHandler" javaType="java.sql.Time"></typeHandler>    
		<typeHandler handler="org.apache.ibatis.type.DateTypeHandler" javaType="java.sql.Date"></typeHandler>		
	</typeHandlers>
</configuration>
