<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.gerion.mapper.AdminMapper">

  	<select id="selectAdmin" parameterType="java.util.Map" resultType="java.util.HashMap">
            SELECT 
          		admin_id
				,admin_name
				,admin_pwd
				,admin_status
				,control_grade
				,idx
				,main_menu
				,reg_dt
				,access_dt
          		,date_format(reg_dt,'%Y-%m-%d') as reg_dt_str
        		,CASE DAYOFWEEK(reg_dt) WHEN '1' THEN '일' WHEN '2' THEN '월' WHEN '3' THEN '화' WHEN '4' THEN '수' WHEN '5' THEN '목' WHEN '6' THEN '금' WHEN '7' THEN '토' END as d_o_w
        		,date_format(reg_dt,'%H:%i:%s') as reg_dt_si
        		,date_format(access_dt,'%Y-%m-%d') as access_dt_str
        		,CASE DAYOFWEEK(access_dt) WHEN '1' THEN '일' WHEN '2' THEN '월' WHEN '3' THEN '화' WHEN '4' THEN '수' WHEN '5' THEN '목' WHEN '6' THEN '금' WHEN '7' THEN '토' END as access_dt_d_o_w
        		,date_format(access_dt,'%H:%i:%s') as access_dt_si
             FROM ca_admin
             WHERE 1=1 
             and admin_id = #{adminId}
             <if test='duplicateChk == null or duplicateChk == ""'><!-- 중복 체크를 하는것이 아니면 -->
         		 and admin_pwd = password(#{adminPwd}) 
             </if>
             LIMIT 0,1
    </select>
    
  	<select id="selectAdminList" parameterType="java.util.Map" resultType="java.util.HashMap">
            SELECT 
          		admin_id
				,admin_name
				,admin_pwd
				,admin_status
				,control_grade
				,idx
				,main_menu
				,reg_dt
				,access_dt
          		,date_format(reg_dt,'%Y-%m-%d') as reg_dt_str
        		,CASE DAYOFWEEK(reg_dt) WHEN '1' THEN '일' WHEN '2' THEN '월' WHEN '3' THEN '화' WHEN '4' THEN '수' WHEN '5' THEN '목' WHEN '6' THEN '금' WHEN '7' THEN '토' END as d_o_w
        		,date_format(reg_dt,'%H:%i:%s') as reg_dt_si
        		,date_format(access_dt,'%Y-%m-%d') as access_dt_str
        		,CASE DAYOFWEEK(access_dt) WHEN '1' THEN '일' WHEN '2' THEN '월' WHEN '3' THEN '화' WHEN '4' THEN '수' WHEN '5' THEN '목' WHEN '6' THEN '금' WHEN '7' THEN '토' END as access_dt_d_o_w
        		,date_format(access_dt,'%H:%i:%s') as access_dt_si
             FROM ca_admin
             WHERE 1=1 
             order by reg_dt desc
           <!--   LIMIT #{startRownum}, #{numOfRows} -->
    </select>  
    
      	<select id="selectAdminListCount" parameterType="java.util.Map" resultType="int">
            SELECT 
          		count(*)
             FROM ca_admin
             WHERE 1=1
    </select>  
     
    <insert id="insertAdmin" parameterType="java.util.Map">
        <![CDATA[
            INSERT  
              INTO ca_admin
                   (
					admin_id
					,admin_name
					,admin_pwd
					,admin_status
					,control_grade
					,main_menu
					,reg_dt
					)
            VALUES (
					#{adminId}
					,#{adminName}
					,password(#{adminPwd})
					,#{adminStatus}
					,#{controlGrade}
					,#{mainMenu}
					,now()
					
					)
        ]]>
    </insert>
 
    <update id="updateAdmin" parameterType="java.util.Map">
            UPDATE 
                   ca_admin
               SET 
					admin_name=#{adminName}
					,admin_pwd=password(#{adminPwd})
					,admin_status=#{adminStatus}
					,control_grade=#{controlGrade}
					,main_menu=#{mainMenu}
             WHERE 1=1
             	and admin_id = #{adminId}
    </update>
 
    
    <update id="updateAdminAccessDt" parameterType="java.util.HashMap">
            UPDATE 
                   ca_admin
               SET 
         		 access_dt=now()              
             WHERE 1=1
             	and admin_id = #{adminId}
    </update>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</mapper>

